<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Teacher Book" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Teacher Book" %>">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <% if session[:teacher_id] %>
    <header>
      <h4>Logged in as <%= Teacher.find_by_id(session[:teacher_id]).name %></h4>
    </header>
  <% end %>
  <body align="center">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
      <%= link_to "Logout", login_logout_path, class: "inline-link-1" if session[:teacher_id] %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

  </body>
</html>
